@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins&display=swap');
@import url(styles-tokens.css);

body {
   background-color:#C6CFA2; 
   font-family: var(--fontfamily-text);
}

h1{
    font-family: var(--fontfamily-headline);
    background-color:#15423F;
    color: white;
    padding: 8px;
}

.site-nav-list, 
.site-footer {
background-color:#15423F;
color: white;
padding:0,5em;
}

.site-nav-list li {
    display: inline;
    margin: 1em;
}

.site-nav-list a,
.site-footer a {
    color:white;
    text-decoration: none;
}
