body {
   background-color:#CDF5DB; 
}

h1{
    background-color:#390164;
    color: white;
    padding: 8px;
}

.site-nav-list, 
.site-footer {
background-color:#390164;
color: white;
padding:0,5em;
}

.site-nav-list li {
    display: inline;
    margin: 1em;
}

.site-nav-list a,
.site-footer a {
    color: black;
    text-decoration: none;
}